.container {
  max-width: 1308px;
  width: 100%;
  margin: 0 auto;
}

body {
    background: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    cursor: default;
}

.about-us {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/bg-about.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  margin: auto;
}

.header {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    margin: 0 auto;
    padding: 0 0 0 85px;

    &-item {
      position: relative;
      display: block;
      padding: 0 25px;
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 22px;

      &:hover:before,
      &--active:before {
        content: "";
        background-color: #ffffff;
      }

      &:focus {
        font-size: 16px;
      }

      &:before {
        content: "";
        position: absolute;
        height: 9px;
        width: 9px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        border: 1px solid white;
        border-radius: 50%;
      }
    }
  }
}

.slide {
  width: 100%;
  height: 100vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.slide-title {
  font-family: 'Montserrat';
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 80px;
  text-transform: uppercase;
  text-align: center;
  &--about-us {
    color: #ffffff;
}
}
.description {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #ffffff;
  padding: 20px 0;
  text-transform: uppercase;
  text-align: center;
}

.header__nav-item {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.social-block {
  &__list {
    list-style: none;
    display: flex;
    padding: 0;

    &-item {
      width: 40px;
      height: 40px;
      border: 1px solid white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 0 20px;
      text-decoration: none;

      &:hover,
      &:focus{
        background-color: white;
        transition-duration: 0.3s;
        font-size: 26px;
      }
      &:hover i,
      &:focus i{
        color: #7E5AFF;
    }
  }

    &-icon {
      color: #ffffff;
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.scroll {
  &__link {
    position: absolute;
    bottom: 50px;
    left: calc(50% - 20px);
    display: inline-block;
    animation: 1.5s linear alternate infinite;

    &:hover{
      transition-duration: 0.8s;
      transform: translateX(10px);
      transform: translateY(10px);
    }
  }
}

.slider {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  width: 100%;
  box-sizing: border-box;

  .slick-list {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  .slick-dots {
    position: absolute;
    z-index: 5;
    top: 50%;
    right: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-50%);
    list-style: none;
    margin: 0;
    padding: 0;
    
    li {
      display: inline-block;
      vertical-align: middle;
      margin: 10px 0;
      button {
        color: transparent;
        font-size: 0;
        line-height: 10px;
        border: 1px solid white;
        border-radius: 50%;
        background: transparent !important;
        &:hover {
          cursor: pointer;
        }
      }

      &.slick-active {
        button {
          background: #ffffff !important;
        }
      }
    }
  }
}

.btn_wrap {
  height: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 35px;
  position: relative;
}
.btn {
  height: 50px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #2c4058;
  font-size: 14px;
  font-weight: 400;
  padding: 0 40px;
  line-height: 50px;
  background-color: #fff;
  color: #2c4058;
  font-family: 'Montserrat';
  cursor: pointer;
}
.btn-2 {
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  &:hover {
    background-color:#2C4058;
    color: white;
    }
}

.projects-block {
  display: flex;
  padding: 50px 0 140px 0;
  z-index: 50;
  align-items: center;
  justify-content: space-around;

  &:nth-child(odd) {
    flex-direction: row-reverse;

    & .projects-block__img:before {
      content: "";
      position: absolute;
      z-index: -1;
      background-color: #7e5aff;
      top: -70px;
      left: 215.9px;
      width: 90%;
      height: 470px;
    }
  }

    &__text {
      display: block;
      max-width: 480px;
      flex-grow: 1;
      max-height: 470px;
      margin: 0 0 -50px 10px;
    }

}
.projects-block__img {
  display: inline-block;
  position: relative;
  z-index: 5;
}
.projects-block__img:before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #55b7ff;
  top: -70px;
  right: 260px;
  width: 100%;
  height: 470px;
}

.block-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
  text-transform: uppercase;
}

.text {
  font-family: "Open Sans", sans-serif;
  color: #4b5562;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
  display: block;
  &--white {
    color: #fff;
    padding: 130px 10px 100px 10px;
  
    &:before {
      content: "";
      position: absolute;
      top: 100px;
      left: calc(50% - 50px);
      border-top: 1px solid #fff;
      width: 100px;
    }
  }
  
  &--min-p {
    padding: 90px 10px 50px 10px;
    &:before {
      content: "";
      top: 60px;
    }
  }
  
  &--block {
    color: #2c4058;
    padding: 0 0 30px 0;
    letter-spacing: normal;
    text-align: left;
  }
}
.subtitle--dark {
  color: #2c4058;
  padding: 80px 10px 100px 10px;
}
.subtitle--dark:before {
  content: "";
  position: absolute;
  top: 50px;
  left: calc(50% - 50px);
  border-top: 1px solid #2c4058;
  width: 100px;
}
.subtitle--block {
  color: #2c4058;
  padding: 0 0 30px 0;
  letter-spacing: normal;
  text-align: left;
}
.location {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: #2c4058;
}

.news {
  background-image: url(../assets/bg-news.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.block-news {
  background: #ffffff;
  margin: 0 15px 10px 15px;

  &-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #2C4058;
    text-transform: uppercase;
    padding-bottom: 20px;
  }

  &-desc {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #2C4058;
    padding-bottom: 30px;
  }
}

.txt-block {
  padding: 30px 50px 0 24px;
}

.author {
  display: flex;

  &-avatar {
    border-radius: 50%;
  }

  &-info {
    margin: auto 0;
    padding-left: 20px;
    padding-bottom: 30px;
  }

  &-name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  }
}

.publication-date {
  padding-top: 10px;
  color: #55b7ff;
  font-size: 14px;
  text-transform: none;
}

.bottom-p {
  padding-bottom: 200px;
}

.slider-news {
  .slick-dots {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 5;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    margin: 0;
    padding: 0 60px;

    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      margin-left: 20px;
      margin-bottom: -70px;

      button {
        color: transparent;
        font-size: 0;
        line-height: 10px;
        border: 1px solid white;
        border-radius: 50%;
        background: transparent !important;
        &:hover {
          cursor: pointer;
        }
      }

      &.slick-active {
        button {
          background: #ffffff !important;
        }
      }
    }
  }
}

.slick-arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(../assets/arrows.png) no-repeat 0 0;
  display: block;
  z-index: 100;
  opacity: 0.5;
  border: none;
  outline: none;
  font-size: 0;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.slick-prev {
  left: -60px;
}

.slick-next {
  background-position: right center;
  right: -60px;
}
